.msgcontent {
  list-style: none;
  background-color: cadetblue;
  font-size: x-large;
  margin-top: 1rem;
  width: 24rem;
  border-radius: 20px;
  padding: 1.2rem 2rem;
}
.msgsender {
  /* background-color: yellow; */
  list-style: none;
  position: absolute;
  left: 25px;
  top: 35px;
  font-size: small;
  color: antiquewhite;
}
